<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather</title>
</head>
<body>
    <%- include header -%>
    <main class="locations">
        <img id="image-placeholder" src="https://cdn.pixabay.com/photo/2016/10/18/19/34/skyline-1751179_1280.png" alt="city skyline">
    </main>
    <h1>Check checks</h1>
</body>
</html>