<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather</title>
</head>
<body>
    <%- include header -%>
    <main class="locations">
        <img id="image-placeholder" src="https://wallpaperstock.net/wallpapers/thumbs1/56955hd.jpg" alt="city skyline">
    </main>
    <footer>
        More information later here
    </footer>
</body>
</html>